white = #ffffff
white-cloud = #F8F9FB
gray-clear = #D6DFE3
gray = #79838C
blue = #5982EE
sky = #A2DCED
sea = #698FF0
black-flat = #202223
twitter = #00aced
facebook = #305097
line = #5ae628
gold = #FFD700
goldenrod = #DAA520
red = #F26964