/* CSS */

body {
  margin: 10px;
}

.container {
  margin: 20px;
}

.container__content {
  margin: 10px;
}

.lesson9 .area {
  margin: 10px 0;
  padding: 10px;
  text-align: center;
  width: 200px;
  height: 200px;
  border-radius: 20px;
  background: wheat;
}

.container__content.lesson10 {
  position: relative;
  border: 1px solid #000000;  
  width: 500px;
  height: 500px;
}

.lesson10 .area {
  position: absolute;
  width: 100px;
  height: 100px;
}

.lesson10 .area .avatar {
  width: 100%;
  height: 100%;
  background: url('../image/shohei.jpg');
  background-size: cover;
  background-position: top center;
  border-radius: 50%;
}