/* CSS */
@charset "utf-8";

/***************************
 * ------ Lesson 1 ------  * 
 ***************************/
body {
  margin: 0;
  padding: 0;
  background-color: #cccccc;
  color: #333333; /* フォント色 */
  font-size: 15px;  /* フォントサイズ */
  line-height: 2;   /* 行間の高さ */
}

p, h1, h2, h3 ,h4 ,h5, h6 {
  margin-top: 0;
}

img {
  vertical-align: bottom; /* 垂直方向の位置揃え */
}

ul {
  margin: 0;
  padding: 0;
}

a {
  color: #3583aa;
  text-decoration: none; /* リンクの下線部を非表示 */
}


a:visited { /* aタグで訪問済の時の処理 */
  color: #788d98;
}

a:hover { /* aタグ上にマウスポインタを乗った時の処理 */
  text-decoration: underline; /* リンクの下線部を表示 */
}

header {
  width: 960px;
  height: 100px;
  margin: 0 auto;
}

.logo {
  float: left;  /* ボックスを左に寄せる */
  margin-top: 50px;
}

.global-nav {
  float: right; /* ボックスを右に寄せる */
  margin-top: 60px;
}
.global-nav li {
  float: left;
  margin: 0 20px;
  font-size: 20px;
  list-style: none;                         /* liのstyleで点を非表示にする */
  font-family: 'Noto Sans SC', sans-serif;  /* font種類の設定 */
}
.global-nav li a {
  color: #ffffff;
}
.global-nav li a:hover {
  border-bottom: 2px solid #ffffff; /* ボックスの下辺の境界線 */
  padding-bottom: 3px;
  text-decoration: none;
}

#wrap {
  clear: both;  /* floatプロパティで指定された要素の回り込みを解除する */
  background-color: #ffffff;
  margin-top: 220px;
  padding: 35px 0;
}

.content {
  width: 960px;
  margin: 0 auto;
}

/** フッターエリアのスタイル設定 */
footer {
  text-align: center;
  color: #ffffff;
  padding: 20px 0;
  background-color: #767671;
}
footer small {
  font-size: 12px;
}

/***************************
 * ------ Lesson 2 ------  * 
 ***************************/
#index h1 { /* #indexをつけることで、idがindex内のh1だけ適応になる */
  font-size: 100px;
  line-height: 1;
  color: #ffffff;
  font-family: 'Noto Sans SC', sans-serif;
  margin-bottom: 50px;
  border: none;
}

#index .content {
  margin-top: 150px;
}

#index p {
  font-size: 16px;
  color: #ffffff;
}

#index #wrap {  /* index.htmlの影響を修正する */
  background-color: transparent;
  margin-top: 0;
  padding: 0;
}

.btn a {
  background-color: #009cd3;
  color: #ffffff;
  font-size: 20px;
  font-family: 'Noto Sans SC', sans-serif;
  width: 185px;
  display: block;             /* ボックスの表示形式を指定する */
  text-align: center;
  line-height: 50px;
  margin-top: 20px;
  border-radius: 5px;         /* ボーダーの角を丸める */
  border: 3px solid #009cd3 /* ボタンに枠線をつける */
}

.btn a:hover {
  text-decoration: none;
  background-color: #ffffff;
  color: #009cd3;
}

#index footer {
  width: 960px;
  margin: 150px auto 0 auto;    /* 上 左 下 右 */
  text-align: left;
  background-color: transparent;
}

#index {
  background-image: url(../image/bg.jpg); /* 要素の背景を指定する */
  background-repeat: no-repeat;           /* 背景画像の繰り返しパターンを指定する */
  background-position: center center;     /* 背景画像の表示位置を指定する */
  background-attachment: fixed;           /* 背景画像のスクロールを指定する fixedにすると背景は固定化される */
  background-size: cover;                 /* 背景画像の大きさを指定する。 */
}

#about {
  background-image: url(../image/bg-about.jpg); /* 要素の背景を指定する */
  background-repeat: no-repeat;                 /* 背景画像の繰り返しパターンを指定する */
  background-position: center top;           /* 背景画像の表示位置を指定する */
  background-attachment: fixed;                 /* 背景画像のスクロールを指定する fixedにすると背景は固定化される */
  background-size: 100% auto;                   /* 背景画像の大きさを指定する。 */
}

/** 見出しの装飾 */
h1 {
  font-family: 'Noto Sans SC', sans-serif;
  font-size: 36px;
  border-bottom: 1px solid #cccccc;
}

h2 {
  font-family: 'Noto Sans SC', sans-serif;
  font-size: 24px;
}

/** プロフィールセクションのレイアウト設定 */
.icon:before {
  content: "";    /* :before擬似要素 :after擬似要素の前後に仮想的に文字列や画像を生成する */
  padding-right: 10px;
  border-left: 7px solid #9cb4a4;
}

#about .profile-txt { 
  width: 540px;
  float: left;
}

#about .profile-txt span {
  font-weight: bold;
}

#about .profile-image {
  float: right;
}

.clearfix:after { /* floatの回り込みを解除する */
  content: "";
  display: block;
  clear: both;      
}

section {
  margin-bottom: 35px;
}

/** 経歴の表を装飾する */
#about .career th { /* 見出しセル */
  width: 240px;
  background-color: #f0f0f0;
  padding: 12px 0;
  border: 1px solid #cccccc;
}

#about .career td { /* データセル */
  width: 660px;
  padding: 12px 0 12px 40px;
  border: 1px solid #cccccc;
}

table {
  border-spacing: 0;
  border-collapse: collapse;  /* 隣り合うセルのボーダーを結合するか分離するかを指定する */
}

/***************************
 * ------ Lesson 3 ------  * 
 ***************************/

#portfolio {
  background-image: url(../image/bg.jpg); /* 要素の背景を指定する */
  background-repeat: no-repeat;           /* 背景画像の繰り返しパターンを指定する */
  background-position: center top;        /* 背景画像の表示位置を指定する */
  background-attachment: fixed;           /* 背景画像のスクロールを指定する fixedにすると背景は固定化される */
  background-size: 100% auto;             /* 背景画像の大きさを指定する。 */
}

.main {
  width: 700px;
  margin: 0 10px;
  float: left;
}

.slider {
  width: 200px;
  margin: 0 10px 0 30px;
  float: right;
  font-family: 'Noto Sans SC', sans-serif;  /* font種類の設定 */
}

.slider h2 {
  margin-bottom: 10px;
}

.slider ul {
  font-size: 16px;
  margin-left: 20px;
}

.slider ul a {
  color: #333333;
}

a img:hover {
  opacity: 0.8;
}