service firebase.storage {
  match /b/{bucket}/o {
    match /version/{versionId} {
      function isAuthenticated() {
        return request.auth != null;
      }
      function isUserAuthenticated(id) {
        return request.auth.uid == id;
      }
      function limitSize() {
        // ファイルサイズが3Mbyte以下であること
        return request.resource.size <= 3 * 1024 * 1024;
      }
      function isImageType() {
        // contentTypeがimageである
        return request.resource.contentType.matches('image/.*');
      }
      match /user/{userId} {
        // 認証有り、規定のファイルサイズとファイル形式で操作可
        match /{fileId} {
          allow read, delete: if isAuthenticated() && isUserAuthenticated(userId);
          allow create, update: if isAuthenticated() && isUserAuthenticated(userId) && limitSize() && isImageType();
        }
      }
      match /folder/{fileId} {
        // 認証無しで操作可
        allow read, write: if true;
      }
      match /userpractice/{userpracticeId} {
        // 認証無しで操作可
        match /{fileId} {
          allow read, write: if true;
        }
      }
      match /userstorage/{userstorageId} {
        match /{fileId} {
          allow read, write: if true;
        }
      }
    }
  }
}
